<div class="cont">
    <h1>Log in</h1>

    <div class="mt-2">
        <%= form_with scope: :session, url: session_path, data: { turbo: false } do |form| %>
            <div class="field mt-2">
                <%= form.label :nickname %>
                <%= form.text_field :nickname %>
            </div>

            <div class="field mt-2">
                <%= form.label :password %>
                <%= form.password_field :password %>
            </div>
            
            <div class="actions mt-4">
                <%= form.submit "Log in" %>
            </div>
        <% end %>
    </div>
</div>